.parent {
  /* text-align: center; */
}
.parent button {
  margin-left: 10px;
}
.child {
  margin: 5px 10px;
  /* width: fit-content; */
}
.hidden {
  display: none;
}
.show {
  display: block !important;
}
.menu {
  display: flex;
  width: max-content;
}
